<div class="container">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
    <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="model.name" class="form-control"
               id="name"
               name="name" required
               type="text">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input [(ngModel)]="model.alterEgo" class="form-control" id="alterEgo"
               name="alterEgo" type="text">
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select #power="ngModel" [(ngModel)]="model.power"
                class="form-control"
                id="power" name="power"
                required>
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          Power is required
        </div>
      </div>

      <button [disabled]="!heroForm.form.valid" class="btn btn-success" type="submit">Submit</button>
      <button (click)="newHero(); heroForm.reset()" class="btn btn-default" type="button">New Hero</button>
      <i>with</i> reset

      &nbsp;&nbsp;
      <button (click)="newHero()" class="btn btn-default" type="button">New Hero</button>
      <i>without</i> reset

      <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>
        Name via form.controls = {{showFormControls(heroForm)}}
      </div>
      <!-- - -->
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9">{{ model.power }}</div>
    </div>
    <br>
    <button (click)="submitted=false" class="btn btn-primary">Edit</button>
  </div>
</div>

<!-- ====================================================  -->
<div>
  <form>

    <!-- ... all of the form ... -->

  </form>
</div>

<!-- ====================================================  -->
<hr>
<style>
  .no-style .ng-valid {
    border-left: 1px solid #CCC
  }

  .no-style .ng-invalid {
    border-left: 1px solid #CCC
  }
</style>
<div class="no-style" style="margin-left: 4px">
  <div class="container">
    <h1>Hero Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" required type="text">
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input class="form-control" id="alterEgo" type="text">
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power" required>
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
      </div>

      <button class="btn btn-success" type="submit">Submit</button>

    </form>
  </div>

  <!-- ====================================================  -->
  <hr>
  <div class="container">
    <h1>Hero Form</h1>
    <form #heroForm="ngForm">
      {{diagnostic}}
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="model.name" class="form-control" id="name"
               name="name"
               required type="text">
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input [(ngModel)]="model.alterEgo" class="form-control" id="alterEgo"
               name="alterEgo" type="text">
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select [(ngModel)]="model.power" class="form-control"
                id="power"
                name="power" required>
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
      </div>

      <button class="btn btn-success" type="submit">Submit</button>

    </form>
  </div>

  <!-- EXTRA MATERIAL FOR DOCUMENTATION -->
  <hr>
  <input [(ngModel)]="model.name" class="form-control" id="name"
         name="name"
         required type="text">
  TODO: remove this: {{model.name}}
  <hr>
  <input (ngModelChange)="model.name = $event" [ngModel]="model.name" class="form-control"
         id="name"
         name="name" required
         type="text">
  TODO: remove this: {{model.name}}
</div>
